*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    background-color: gray;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.navdiv{
    display: flex;
    text-align: center;
    text-decoration: none;
}
#u{
    display: flex;
    text-align: center;
    justify-content: space-between;
    list-style: none;
}
li{
    display: flex;
    justify-content: space-between; 
}